<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [ ]:
!pip install boto3
import boto3 # make --> pip install boto3
import sys
import os
import pandas as pd
import csv
import io

Requirement already satisfied: boto3 in c:\users\rasu9\anaconda3\lib\site-packages (1.21.32)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in c:\users\rasu9\anaconda3\lib\site-packages (from boto3) (0.5.0)
Requirement already satisfied: botocore<1.25.0,>=1.24.32 in c:\users\rasu9\anaconda3\lib\site-packages (from boto3) (1.24.46)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\rasu9\anaconda3\lib\site-packages (from boto3) (0.10.0)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in c:\users\rasu9\anaconda3\lib\site-packages (from botocore<1.25.0,>=1.24.32->boto3) (1.26.9)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\rasu9\anaconda3\lib\site-packages (from botocore<1.25.0,>=1.24.32->boto3) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\rasu9\anaconda3\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.25.0,>=1.24.32->boto3) (1.16.0)

In [ ]:
"""Accessing the S3 buckets using boto3 client"""
s3_client =boto3.client('s3')
s3_bucket_name='dwldatasetage'
s3 = boto3.resource('s3',
                    aws_access_key_id='ASIA2C2HI7F6RJOGRD77',
aws_secret_access_key='qbzoNjTW64gNa1Scg0TZDqGf3utwcHcPVUCFbm4P',
aws_session_token='FwoGZXIvYXdzEKH//////////wEaDECTfixUJOVuqUR5AiK/AUg5BEaHZT8CoV3gFiCPoFQI+h3nDgFALrb1j3EX1oS+7BCL9EW22rgYCEoc2nBcYgGRKjy4JHm/TT3d3ze26VjSsUYLN6XxNAxA5yNW6/hOE9M1FjRQ1mZp8/yzxsjIeBO70Ck96GoFColNUdB1ATi0Ybu5RtaqFgeBeGDPCxYGW+DL4BjoQbJKwHjStQzRWFjTb+iXfdQ2R/jmitIXEMoTzBh6YygNh21+BtfTyB4rYCOwmu0ilWKmOTQDjly0KNCM9KIGMi1ZP0HN70EX21/LJpIc+2bmsFqp1UYi2XxDlhJmFKfCIheXalAxKJBTUquqAfQ=')

In [ ]:
""" Getting data files from the AWS S3 bucket as denoted above and printing the first 10 file names having prefix "2019/7/8" """
my_bucket=s3.Bucket(s3_bucket_name)

for my_bucket_object in my_bucket.objects.all():
    print(my_bucket_object)

s3.ObjectSummary(bucket_name='dwldatasetage', key='dataset_age.csv')

In [ ]:
df = pd.read_csv('dataset_age.csv', sep = ';')
df

,zipcode,name,0 years,1 year,2 years,3 years,4 years,5 years,6 years,7 years,...,91 years,92 years,93 years,94 years,95 years,96 years,97 years,98 years,99 years,100 years or older
0,8100,Switzerland,88200,85795,86922,88825,88828,90261,89651,89431,...,16588,13239,10422,7949,6024,4338,3166,2103,1351,1888
1,ZH,Zürich,16882,16211,16288,16470,16549,16766,16597,16718,...,2774,2273,1660,1323,940,708,512,330,186,287
2,000101,>> Bezirk Affoltern,584,575,634,668,615,695,668,715,...,85,49,41,34,16,30,10,7,2,5
3,0001,......0001 Aeugst am Albis,13,16,22,21,14,13,20,24,...,4,1,2,2,0,3,1,0,0,0
4,0002,......0002 Affoltern am Albis,136,151,149,160,114,137,109,126,...,25,18,8,8,5,9,2,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2328,6806,......6806 Vendlincourt,5,6,8,2,9,2,4,5,...,1,0,3,1,1,0,0,0,0,0
2329,6807,......6807 Basse-Allaine,11,12,7,11,9,14,20,15,...,6,1,5,2,2,0,0,0,0,1
2330,6808,......6808 Clos du Doubs,19,12,15,13,12,13,16,12,...,3,1,2,1,2,0,2,0,2,0
2331,6809,......6809 Haute-Ajoie,13,9,10,12,8,7,9,8,...,2,2,3,2,1,0,0,1,2,0
2332,6810,......6810 La Baroche,12,9,6,10,8,10,8,8,...,2,0,1,0,1,1,0,1,0,1

In [ ]:
#first only keep values in column 'Zipcode' which are between 0001 and 6810
df['zipcode'] = df['zipcode'].astype(str)
df = df[(df['zipcode'] >= '0001') & (df['zipcode'] <= '6810')]

#only keep values with a length of 4. This gives you a list of all municipalities.
df = df[df['zipcode'].str.len() == 4]

#cut off the first 11 caracters
df['name'] = df['name'].str[11:]

#rename the column 'name' to 'municipality'
df = df.rename(columns={'name': 'municipality'})

df

,zipcode,municipality,0 years,1 year,2 years,3 years,4 years,5 years,6 years,7 years,...,91 years,92 years,93 years,94 years,95 years,96 years,97 years,98 years,99 years,100 years or older
3,0001,Aeugst am Albis,13,16,22,21,14,13,20,24,...,4,1,2,2,0,3,1,0,0,0
4,0002,Affoltern am Albis,136,151,149,160,114,137,109,126,...,25,18,8,8,5,9,2,1,1,2
5,0003,Bonstetten,49,57,57,65,53,72,60,82,...,10,0,4,2,2,1,0,0,0,1
6,0004,Hausen am Albis,36,31,46,32,44,34,49,46,...,9,4,0,1,1,1,1,0,0,0
7,0005,Hedingen,29,24,29,49,39,31,37,46,...,4,1,4,3,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2328,6806,Vendlincourt,5,6,8,2,9,2,4,5,...,1,0,3,1,1,0,0,0,0,0
2329,6807,Basse-Allaine,11,12,7,11,9,14,20,15,...,6,1,5,2,2,0,0,0,0,1
2330,6808,Clos du Doubs,19,12,15,13,12,13,16,12,...,3,1,2,1,2,0,2,0,2,0
2331,6809,Haute-Ajoie,13,9,10,12,8,7,9,8,...,2,2,3,2,1,0,0,1,2,0
2332,6810,La Baroche,12,9,6,10,8,10,8,8,...,2,0,1,0,1,1,0,1,0,1

In [ ]:
age_cols = [col for col in df.columns if col != 'zipcode' and col != 'municipality']
df['average_age'] = (df[age_cols] * range(len(age_cols))).sum(axis=1) / df[age_cols].sum(axis=1)
df

,zipcode,municipality,0 years,1 year,2 years,3 years,4 years,5 years,6 years,7 years,...,92 years,93 years,94 years,95 years,96 years,97 years,98 years,99 years,100 years or older,average_age
3,0001,Aeugst am Albis,13,16,22,21,14,13,20,24,...,1,2,2,0,3,1,0,0,0,44.543763
4,0002,Affoltern am Albis,136,151,149,160,114,137,109,126,...,18,8,8,5,9,2,1,1,2,41.767656
5,0003,Bonstetten,49,57,57,65,53,72,60,82,...,0,4,2,2,1,0,0,0,1,40.973366
6,0004,Hausen am Albis,36,31,46,32,44,34,49,46,...,4,0,1,1,1,1,0,0,0,42.923936
7,0005,Hedingen,29,24,29,49,39,31,37,46,...,1,4,3,0,0,1,1,0,0,42.133069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2328,6806,Vendlincourt,5,6,8,2,9,2,4,5,...,0,3,1,1,0,0,0,0,0,45.756708
2329,6807,Basse-Allaine,11,12,7,11,9,14,20,15,...,1,5,2,2,0,0,0,0,1,44.641633
2330,6808,Clos du Doubs,19,12,15,13,12,13,16,12,...,1,2,1,2,0,2,0,2,0,45.207165
2331,6809,Haute-Ajoie,13,9,10,12,8,7,9,8,...,2,3,2,1,0,0,1,2,0,47.338304
2332,6810,La Baroche,12,9,6,10,8,10,8,8,...,0,1,0,1,1,0,1,0,1,44.833037

In [ ]:
#drop all other columns except zipcode name, country, gender, agegroups and total-age
df = df.loc[:, ['zipcode', 'municipality', 'average_age']]
df

     zipcode        municipality  average_age
3       0001     Aeugst am Albis    44.543763
4       0002  Affoltern am Albis    41.767656
5       0003          Bonstetten    40.973366
6       0004     Hausen am Albis    42.923936
7       0005            Hedingen    42.133069
...      ...                 ...          ...
2328    6806        Vendlincourt    45.756708
2329    6807       Basse-Allaine    44.641633
2330    6808       Clos du Doubs    45.207165
2331    6809         Haute-Ajoie    47.338304
2332    6810          La Baroche    44.833037

[2163 rows x 3 columns]